.it-technology-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    margin: 5vh 0 5vh 0;
}

.project-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5vh 0 5vh 0;
}

.it-technology {
    flex: 1
}

.ittechnology-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 95%;
    height: 80vh;
    padding: 2.5%;
    text-align: center;
    grid-column-gap: 6%;
    grid-row-gap: 5%
}

.project-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2% 2% 0% 2%;
    text-align: flex-start;
    background-color: rgba(255, 255, 255, 0.5);
    width: 90%;
    border-radius: 30px;
}

.project-container p {
    color: black;
    margin-bottom: 20px;
    line-height: 1.5
}


.ittechnology-content {
    display: flex;
    width: 20%;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.ittechnology-content:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.ittechnology-content:hover img{
    opacity: 1;
}

.ittechnology-content:hover p1{
    opacity: 0;
}
.ittechnology-content:hover p2{
    opacity: 0;
}

.ittechnology-content p2{
    transition: 0.3s ease-in-out;
}
.ittechnology-content p1{
    transition: 0.3s ease-in-out;
}


.ittechnology-content div {
    font-family: sans-serif;
    font-weight: 600;
    opacity: 1;
    position: absolute;
    align-self: center;
    transition: 0.3s ease-in-out;
}
p1 {
    font-size: 40px;
}
.ittechnology-content img{
    opacity: 0.2;
    display: absolute; 
    object-fit: cover; 
    height: 100%; 
    border-radius: 15px;
    transition: 0.3s ease-in-out;
}