.it-technology-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    margin: 5vh 0 5vh 0;
}

.it-technology {
    flex: 1
}

.ittechnology-container {
    display: grid;
    width: 95%;
    height: 80vh;
    padding: 2.5%;
    grid-template-columns: 21% 21% 21% 21%;
    text-align: center;
    grid-column-gap: 6%;
    grid-row-gap: 5%
}


.ittechnology-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 40px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    font-family: sans-serif;
}

.ittechnology-content:hover {
    background-color: rgba(0, 0, 0, 0.3);
}