
::-webkit-scrollbar {
    width: 5px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: rgb(61, 61, 61);
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background: linear-gradient(180deg, rgba(120,0,246,1) 0%, rgba(255,0,193,1) 100%);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, rgb(150, 52, 255) 0%, rgb(255, 67, 208) 100%);
}

.it-work-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    margin: 5vh 0 5vh 0;
}

#it_work_title {
    margin-top: 5vh;
    font-size: 60px;
    color: white;
    font-weight: 600;
}

.it-work {
    flex: 1
}

.itwork_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 95%;
    height: 80vh;
    padding: 2.5%;
    grid-template-columns: auto auto auto auto auto;
    text-align: center;
    grid-column-gap: 2%;
}

.it_work_img {
    opacity: 0.2;
    display: absolute; 
    object-fit: cover; 
    height: 100%; 
    border-radius: 15px;
    transition: 0.3s ease-in-out;
}

.itwork-content {
    display: flex;
    flex-direction: column;
    width: 19%;
    justify-content: center;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.6);
    font-size: 40px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    font-family: sans-serif;
    box-shadow: 20px 10px 10px rgba(0, 0, 0, 0.116);
}

.itwork-content .job_label {
    color: white;
    font-family: sans-serif;
    font-weight: 600;
    opacity: 1;
    position: absolute;
    align-self: center;
    transition: 0.3s ease-in-out;   
    font-size: 30px
}

.itwork-content:hover {
    box-shadow: 20px 20px 15px rgba(0, 0, 0, 0.37);
}

.itwork-content:hover .it_work_img {
    opacity: 1
}

.itwork-content:hover .job_label {
    opacity: 0
}