
::-webkit-scrollbar {
    width: 5px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: rgb(61, 61, 61);
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background: linear-gradient(180deg, rgba(120,0,246,1) 0%, rgba(255,0,193,1) 100%);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, rgb(150, 52, 255) 0%, rgb(255, 67, 208) 100%);
}

.mainbody {
    display: flex;
    flex-direction: column;
    /* background: linear-gradient(135deg, rgba(0,255,150,1) 0%, rgba(0,0,111,1) 100%); bright mode*/
    background: linear-gradient(135deg, rgba(76,1,154,1) 0%, rgba(30,0,70,1) 100%);
}

.header {
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-size: 80px;
    font-weight: 600;
    margin-bottom: 2vh;
}

.main_content {
    display: flex; 
    flex-direction: row;

}

.writer_info{
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: rgba(255, 255, 255, 0.5);
    margin-right: 40px;
    border-radius: 30px;
    height: fit-content;
    box-shadow: 20px 20px 20px rgba(0,0,0,0.3);
}

#profile_text {
    color: black;
    font-family: sans-serif;
    font-size: 20px;
    margin-left: 20px;
}

.writer_info img {
    margin-top: 20px;
    align-self: center;
    border-radius: 80%;
    object-fit: cover;
    width: 40vh;
    height: 40vh;
    border-style: solid;
    border-width: 10px;
    border-color: white
}

.essay {
    flex: 3;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 20px;
    line-height: 1.5;
    border-radius: 30px;
    padding: 40px;
    box-shadow: 20px 20px 20px rgba(0,0,0,0.3);
    font-family: sans-serif;
    color: rgb(31, 31, 31);
    
    text-indent: 50px
}

.quote {
    margin-left: 20%;
    margin-right: 20%;
}
.question {
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 500;
    
}

.image_desc {
    font-style: italic;
    text-align: center;
    font-size: 15px;
}

.ref {
    cursor: pointer;
    text-decoration: underline;
    margin-bottom: 10px;
    color: black
}
.ref:hover {
    color: blue
}